<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> Logo</div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
        <p><i class="fa fa-map-pin"></i>  London, UK 44444</p>
        <p><i class="fa fa-phone"></i>  Phone: +7 526 255 25 26</p>
        <p><i class="fa fa-envelope"></i> Email: info@example.com </p>
        
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">Help Navigation</h6>
        <ul class="footer-ul">

          <li><a href="#">features</a></li>
          <li class=""><a href="#">our blog</a></li>
          <li><a href="#" class="">customers review</a></li>
          <li class=""><a href="#">buy now</a></li>
          <li><a href="#" class="">faq &amp; policy</a></li>
          <li><a href="#" class="">contact us</a></li>

        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>facebook crack the movie advertisment code:what it means for you <span>TIME DATE Month dd, YYYY</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>TIME DATE Month dd, YYYY</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>TIME DATE Month dd, YYYY</span></p>
        </div>
      </div>

      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">Service</h6>
        <ul class="footer-ul">

          <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="">SEO Service</a></li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="">SMM Service</a></li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="">Email Marketing</a></li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="">Web Developing</a></li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="">Graphic Design</a></li>
          <li class=""><i class="fa fa-angle-right" aria-hidden="true"></i><a href="">web Design</a></li>
        </ul>


      </div>
    </div>
  </footer>
  <!-- inline footer start from here-->

  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p>© 2017 - All Rights (C) YK</p>
      </div>
    </div>
  </div>
</div>